body {
    margin: 0;

    header {
        height: 100dvh;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        img {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all ease-in-out 0.5s;
        }

        button {
            position: absolute;
            top: calc(50% - 25px);
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: #f1f1f1;
            border: none;
            font-size: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            &:first-of-type {
                left: 25px;
            }

            &:last-of-type {
                right: 50px;
            }
        }
    }
}